# Ignore environment variable file
.env

# Node modules
node_modules/

# Log files
*.log

# OS/Editor specific files
.DS_Store
.vscode/

# Database file
noveltydrops.db

#gitignore file itself
.gitignore

