<!-- views/500.ejs -->

<% 
  // Set the title for the layout
  title = '500 - Server Error';
%>

<main>
  <h1>500 - Server Error</h1>
  <% if (!isProduction && error) { %>
    <pre><%= error.stack %></pre>
  <% } else { %>
    <p>Something went wrong. Please try again later.</p>
  <% } %>
  <a href="/">Go back to Home</a>
</main>
