<!-- views/home.ejs -->

<% 
  // Set the title for the layout
  title = 'Home Page - Novelty Drop Co.';
%>

<div class="content-home-container">
  <section class="main-content-display">
    <div id="contentDisplay" class="grid-container"></div>
  </section>
</div>

<script nonce="<%= scriptNonce %>" src="/scripts/homeContent.js"></script>
