<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page - Novelty Drop Co.</title>
</head>
<body>
  <%- include('partials/header', { user: user }) %>

  <div class="content-home-container">
    <section class="main-content-display">
      <div id="contentDisplay" class="grid-container"></div>
    </section>
  </div>

  <script nonce="<%= scriptNonce %>" src="/scripts/homeContent.js"></script>
</body>
</html>
